.hidden {
  opacity: 0;
}

.highlightRect {
  border-radius: 25px;
}

svg text{
  pointer-events: none;
  fill: #4d4d4d;
}

tspan {
  font-weight: bold;
  font-size: 28;
}

svg .axisTitles {
  text-anchor: middle;
  font-size: 22px;
  font-weight: bold;
}