.maf_points {
  fill: white;
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 10px;
}

.labels {
  alignment-baseline: middle;
  text-anchor: end;
}

.snp_name {
  alignment-baseline: hanging;
  text-anchor: start;
  font-weight: bold;
  font-size: 30px;
}

.axis_line {
  stroke: black;
  opacity: 0.2;
  stroke-width: 2px;
}

.snp_info {
  font-weight: bold;
}

.genome_browser_link {
  text-decoration: underline;
}
